[[extend 'layout.html']]

<style>
  [v-cloak] {
    display: none;
  }
</style>

<div class="section" id="vue-target" v-cloak>
  <!-- Put here your Vue.js template -->
  <div class="container block">
    <h1 class="title">AskAnything</h1>
    <div class="pb-4">
      <a class="button is-primary" href="[[=URL('add_post')]]">
        <span>Ask a question!</span>
      </a>
    </div>

    <div class="tile is-8 is-vertical">
      <div v-for="r in rows.slice().reverse()" class="block">
        <div class="box has-background-grey-lighter py-3">
          <div class="columns">
            <div class="column is-1">
              <div class="level-item">
                <i v-if="r.rating === 1">
                  <i
                    @click="set_rating(r._idx, 0)"
                    class="fa fa-caret-up fa-2x has-text-success"
                  ></i>
                </i>
                <i v-else>
                  <i
                    @click="set_rating(r._idx, 1)"
                    class="fa fa-caret-up fa-2x has-text-grey"
                  ></i>
                </i>
              </div>

              <div class="is-size-5 my-1 has-text-info level-item">
                {{r.final}}
              </div>

              <div class="level-item">
                <i v-if="r.rating === -1">
                  <i
                    @click="set_rating(r._idx, 0)"
                    class="fa fa-caret-down fa-2x has-text-danger"
                  ></i>
                </i>
                <i v-else>
                  <i
                    @click="set_rating(r._idx, -1)"
                    class="fa fa-caret-down fa-2x has-text-grey"
                  ></i>
                </i>
              </div>
            </div>
            <div class="column">
              <div>
                <span
                  class="
                    has-background-info-dark has-text-primary-light
                    is-1
                    px-1
                    py-1
                    notification
                  "
                >
                  {{r.category}}
                </span>
                <span>
                  <a
                    class="is-size-4 has-text-weight-bold pl-2"
                    v-bind:href="'/qa/post/'+ r.id"
                  >
                    {{r.title}}
                  </a></span
                >
              </div>

              <div class="has-text-grey">
                Posted on {{r.time_asked}} by {{r.name}}
              </div>
            </div>
            <!-- <div class="column has-background-info-dark">Auto</div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  let load_posts_url = "[[=XML(load_posts_url)]]";
  let add_post_url = "[[=XML(add_post_url)]]";
  let delete_post_url = "[[=XML(delete_post_url)]]";
  let get_rating_url = "[[=XML(get_rating_url)]]";
  let set_rating_url = "[[=XML(set_rating_url)]]";
  let get_likers_url = "[[=XML(get_likers_url)]]";
</script>
<script src="js/index.js"></script>
[[end]]
